.main{
  margin-left: 10%;
  margin-right: 10%;
  background-color: red;
  display: inline-flex;
  flex-direction: left ;
  flex-wrap: wrap;

}
.item{
  width: 100px;
  background-color: blue;
  margin: 20px;
  //margin-left: 300px;
  //padding: 20px;
  flex-grow: 1;
}
.specialItem{
  flex-grow: 2;
}
